<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Alterar Produto</title>
<meta name="author" content="Guilherme Filipe Da Rosa">
<link rel="stylesheet" href="css/index.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">

</head>
<body>

<header>
	<nav style="background-color: #177fbf;" class="navbar navbar-expand-lg navbar-dark">
		
		<div id="navMobile" class="navbar-collapse collapse">
			<a class="nav-item nav-link" th:href="@{/}">Home</a>
			<a class="nav-item nav-link" th:href="@{inserirProdutos}">Cadastrar Produto</a>
			<a class="nav-item nav-link" th:href="@{produtosAdicionados}">Ver Produtos</a>
			<a class="nav-item nav-link" th:href="@{movimentacao}">Consulta Movimentação</a>
		</div>
	</nav>

</header>

<form method="post" action="/inserirMovimentacao" th:object="${movimentoEstoque}">

<div id="dvCodigo" class="row" th:text="${id}"><!-- style="display:non;" th:text="${id}"  -->
</div>

<input style="display:none;" id="codigoProduto" type="text" th:field="*{codigoProduto}">

<div class="row">
	<div class="col-md-6 form-group offset-md-3">
		<label>Selecione o tipo:</label>
		<select class="form-control" th:field="*{tipoMovimentacao}">
			<option value="E">Entrada</option>
			<option value="S">Saída</option>
		</select>
	</div>
</div>
	
 <div class="row">
	<div class="col-md-6 form-group offset-md-3">
		<label>Valor:</label>
		<input type="number" th:field="*{valor}">
	</div>
</div> 

 <div class="row">
	<div class="col-md-6 form-group offset-md-3">
		<label>Data:</label>
		<input type="date" th:field="*{data}">
	</div>
</div> 

<div class="row">
	<div class="col-md-6 form-group offset-md-3">
		<label>Quantidade:</label>
		<input type="number" th:field="*{quantidadeMovimentada}">
	</div>
</div> 

<div class="row">
	<button type="submit" class="btn btn-success offset-md-5">SALVAR</button>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="btn btn-outline-danger">VOLTAR</a>
</div>

</form>

<footer>
<div class="rodape">
 <span>Todos os Direito Reservados - 2022 &copy; Guilherme Filipe Da Rosa</span>
</div>
</footer>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<script>
function init(){
	ajustarCodigoProduto();
	validarMensagem();
}

function ajustarCodigoProduto(){
	let codigo = document.querySelector('#dvCodigo').innerText;
	
	if(codigo && document.querySelector('#codigoProduto')){
	document.querySelector('#codigoProduto').value = codigo;
}
};

function validarMensagem(){
	let status = document.querySelector('#status');
	
	if(status && status.innerText !== ''){
		status.style.display = '';
	}
};


init();
</script>
</body>
</html>