<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Alterar Produto</title>
<meta name="author" content="Guilherme Filipe Da Rosa">
<link rel="stylesheet" href="/css/index.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">

</head>
<body>

<header>
	<nav style="background-color: #177fbf;" class="navbar navbar-expand-lg navbar-dark">
		
		<div id="navMobile" class="navbar-collapse collapse">
			<a class="nav-item nav-link" th:href="@{/}">Home</a>
			<a class="nav-item nav-link" th:href="@{inserirProdutos}">Cadastrar Produto</a>
			<a class="nav-item nav-link" th:href="@{produtosAdicionados}">Ver Produtos</a>
			<a class="nav-item nav-link" th:href="@{movimentacao}">Consulta Movimentação</a>
		</div>
	</nav>

</header>

<form style="    margin-top: 111px;" method="post" action="/alterar" th:object="${produto}">

<input type="hidden" th:field="*{codigo}">

<div class="row">
	<div class="col-md-6 form-group offset-md-3">
		<label>Descrição do Produto:</label>
		<input placeholder="Ex: Chapa de metal" th:field="*{descricao}">
	</div>
</div>

<div class="row">
	<div class="col-md-6 form-group offset-md-3">
		<label>Selecione o tipo:</label>
		<select class="form-control">
			<option th:each="tipo : ${T(br.com.estoque.enums.Tipo).values()}"
			th:value="${tipo}" th:text="${tipo}">
		</select>
	</div>
</div>

<div class="row">
	<div class="col-md-6 form-group offset-md-3">
		<label>Valor Fornecedor:</label>
		<input style="    margin-left: 33px;" placeholder="Ex: 12" th:field="*{valor_fornecedor}">
	</div>
</div>

<div class="row">
	<div class="col-md-6 form-group offset-md-3">
		<label>Quantidade Estoque:</label>
		<input style="    margin-left: 9px;" placeholder="Ex: 12" th:field="*{qtde_estoque}">
	</div>
</div>

<div class="row">
	<button type="submit" class="btn btn-success offset-md-5">SALVAR</button>
<!-- 	&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- 	<a class="btn btn-outline-danger">VOLTAR</a> -->
</div>

</form>

<footer>
<div class="rodape" style="position:absolute;width:100%;bottom:0;">
 <span>Todos os Direito Reservados - 2022 &copy; Guilherme Filipe Da Rosa</span>
</div>
</footer>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>